AnalisisItem/Doc/
AnalisisItem/Output/
AnalisisItem/Src/bin/
AnalisisItem/Src/.Rhistory
*.docx*
*.txt*
*.csv*
*.log*
*.DAT*
*.dat*
*.con*
*FILE.txt*
*Descripcion.txt*
*evalexcluidos.txt*
*items.txt*
*.OUT*
*.out*
*-IFILE*
*-PFILE*
*.Rdata*
*WinXP-RUNWINSTEPS.BAT*
*.xlsx*
Pdf/documents-export-2016-06-09/5_Aceptaciondiferencias_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/5_Asertividad_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/5_Empatia_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/5_Justificaciones_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/5_Oportunidades_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/5_Rolesgenero_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/5_manejorabia_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/9_Corrupcion_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/9_Democracia_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/9_Empatia_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/9_GobiernoEscolar_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/9_Incumplimientoley_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/9_Justificaciones_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/9_Oportunidades_EscalaGrande_2015.pdf
Pdf/documents-export-2016-06-09/9_Rolesgenero_EscalaGrande_2015.pdf
